* {
    box-sizing: border-box;
}

.header {
    background-image: url(bcg1.jpg);
    height: 80vh;
    background-repeat: no-repeat;
}

.nav {
    background-color: rgba(0, 0, 0, 0.521);    
    height: 10vh;
}
.logo1 {
        font-size: x-large;
        color: white;
        text-align: center;
}

.navbar ul  {
    list-style: none;
    display: inline-block;
    margin-left: 35%;    
    width: 100%;
}


.navbar ul li a {
    float: left;
    color: white;
    margin-left: 5%;
    padding:1%;
    font-size: medium;
    text-decoration: none;
}
.navbar ul li:first-child {
    background-color: black;
}

.clearfix {
    clear: both;
}
.self1 {
    display: flex;
    text-align: center;
    padding-top: 10%;
}
.self1 i{
    font-size: 3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.self1 button {
    text-align: center;
    border: none;
    font-size: x-small;
    padding: 0.5% 2%;
}

.aboutus {
    background-color: whitesmoke;
    text-align: center;
    padding: 5%;
}

.aboutus span {
    font-size: xx-large;
}

.aboutus p {
    font-size: small;
    padding: 0 15%;
    text-align: center;

}

.aboutwhat {
    margin-top: 3%;
}

.design1{
    width:35%;
}
.coding2{
    width:70%;
}
.market3{
    width:55%;
}

.sub1 h4 {
    padding-top: 3%;
    font-weight: light;
}

.inputsub {
    padding: 5% 10% 2% 20%;
}
.inputsub input {
    font-size: small;
    background-color: yellow;
    border: none;
}


.btnsub {
    border: none;
    background-color: black;
    color: white;
    font-size: small;
    padding: 2%;
}   

.team {
    /* background-color: rgb(56, 47, 47); */
    color: white;
}

.textteam {
    padding: 0 15% 0 15%;   
    font-size: small;
}

.imgrow {
    padding-left: 10%;
    padding-right: 10%;
}

.imgrow img{
    border-radius: 50% ;
    border: solid 5px yellow;
    height: 130px;
    width: 150px;
    margin-left: 5%;
}

.imgrowpara {
        font-size: x-small;
        
}
.imgrowpara span{
    font-size: large;
    
}

.btnimg {
    margin-left: 43%;
}

.titleport {
    font-weight: lighter;
} 


.imagebcg{
    background-color: rgba(0, 0, 0, 0.705) !important;
    margin-top: 70%;
    text-align: left;
}

.footer {
    background-image: url(str1.jpg);
    height: 120vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.ls a {
    text-decoration: none;
    color: white;
    
    font-size: small;
}

